{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}
	<div class="container ">
		<h1>Votre Panier</h1>
		{% if panierDetails is empty %}
			<p>Votre panier est vide.</p>
			<a href="{{path('accueil')}}" class="btn btn-outline-primary btn-lg">Commancer mes achats</a>
		{% else %}
			<div class="row">
				<div class="col-md-8">
					<table class="table table-hover">
						<h4 class="text-center">Nombre d'articles
						</h4>
						<tbody>
							{% for item in panierDetails %}
								<tr>
									<td>
										<div class="card mb-3" style="max-width: 540px;">
											<div class="row g-0">
												<div class="col-md-4">
													<img src="{{asset('assets/images/imagesAdmin/'~item.produit.photo)}}" class="img-fluid rounded-start" alt="...">
												</div>
												<div class="col-md-8">
													<div class="card-body">
														<h5 class="card-title">{{ item.produit.libelle }}</h5>
														<p class="card-text">dimenssion :
															{{ item.produit.dimenssion }}</p>
														<p class="card-text">couleur :
															{{ item.produit.couleur }}</p>
														<p class="card-text">quantité :
															{{ item.quantite }}</p>
														<div class="d-flex">
															<p>sous-total-ht :
															</p>
															<p class="card-title text-primary">
																{{item.quantite * item.prix }}
																€</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										{# Gérer les boutons plus et moins  #}
									</td>
									<td class="align-middle text-center  ">
										<a href="{{path('ajoutPanier',{'id':item.produit.id})}}"><img src="{{ asset('assets/images/plus.png') }}" class="img-fluid" alt="image plus" width="30" height="30">
										</a>
										<h2 class="card-text">
											{{ item.quantite }}</h2>
										<a href="{{path('modifPanier',{'id':item.produit.id})}}">
											<img src="{{ asset('assets/images/moins.png') }}" class="img-fluid" width="30" height="30" alt="image moins">
										</a>


									</td>

								{# Gérer le bouton supprimer #}

								<td class="align-middle text-center  ">
										<a href="{{path('supprimeProduit',{'id':item.produit.id})}}"><img src="{{ asset('assets/images/supprimer.png') }}" class="img-fluid" alt="image plus" width="30" height="30">
										</a>
									

									</td>

								</tr>
							{% endfor %}

						</tbody>
						<a href="{{ path('accueil') }}">Continuer les achats</a>
					</table>
				</div>
				<div class="card col-md-4 border-success    mb-3 mx-4" style="max-width: 20rem;right: 20px">

					<div class="validation card-body">
						{% include 'commande/recapitulatif.html.twig' %}
						<a href="{{path('app_commande')}}" class="btn btn-primary mt-3" type="submit">Valider mon panier</a>
						{# <a href="{{path('app_commande')}}" class="btn btn-primary mt-3">Valider mon panier {{(totalHT *1.2) + 45.00 }}
							€
						</a> #}
						


					</div>
				</div>
				<div class="row d-flex mt-3 ">
					<div class="col-md-6 ">
						<a href="{{path('accueil')}}" class="btn btn-outline-primary btn-lg">Continuer mes achats</a>

					</div>


				</div>

			</div>
		{% endif %}
	</div>
{% endblock %}
