
{% block title %}Bon de livraison{% endblock %}
{% block stylesheets %}

<style>
		/* Styles CSS pour ajouter des bordures sur des zones  */

		.brd {
			/* Votre style pour la colonne */
			border: 1px solid #000; /* Bordure de 1 pixel solide noire */
			padding: 10px; /* Espacement interne */
			margin: 10px;
		}
		.brd1 {
			float: left;
			border: 1px solid #000;
			width: 45%;
			padding: 10px;
			
		}
		.brd2 {
			float: left;
			border: 1px solid #000;
			margin-left: 20px;
			width: 45%;
			padding: 10px;

		}
		/*Afficher adresse de livraison et adresse de facturation*/
		 .adresse{
			;
		 }
		 /*Appliquer de css sur le tableau*/
		 .table{
			border-collapse: collapse; 
			width: 90%;
			
		 }
		 th, td{
			border: 1px solid #ddd;
			padding: 10px;
		 }
        .total{
			text-align: right;
		}

	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row ">
			<div class="col-4">
				<img src="" alt="">
			</div>
			<div class=" col-6  ">
				<p>Bon de livraison N°</p>
				<p>Commande N° {{livraison.getCommande().getId()}} du {{livraison.getCommande().getDateCommande()|date("m/d/Y")}}</p>
				<p>Date:
				</p>
			</div>
		</div>
		<div class="row ">
			<div class="brd col-6 ">1
				<p>Client : numéro, nom, addresse, contact</p>
			</div>

		</div>
		{# <div class="adresse">
			<div class="brd1  ">
				<h4>Adresse de livraison</h4>
				<p>{{commande.adresseLivraison}}</p>
				<p>{{commande.CPlivraison}}  {{commande.villeLivraison}}</p>
				
			</div>
			<div class="brd2  ">
				<h4>Adresse de facturation</h4>
				<p>{{commande.adresseFacturation}}</p>
				<p>{{commande.CPFacturation}}  {{commande.villeFacturation}}</p>
			</div>

		</div> #}
		 <div class="row mt-4">
      <div class="col-md-12">
	  <h4>Détails de la commande </h4>
        {# <table class="table table-active">
          <thead>
            <tr>
              <th>RÉF</th>
              <th>DÉSIGNATION</th>
              <th>P U HT</th>
              <th>QUANTITÉ</th>
			  <th>TOTAL HT</th>
			  <th>TVA</th>
			  <th>TOTAL TTC</th>
            </tr>
          </thead>
          <tbody>
		  {% set totalht = 0 %}
		  {% for ligne in lignes %}
		   <tr>
		   {# Récupérer la référence du produit #}
              {# <td>{{ligne.getProduit().getReference()}}</td>
              <td>{{ligne.libelle}}</td>
              <td>{{ligne.prixVente}}</td>
              <td>{{ligne.quantite}}</td>
			   <td>{{ligne.quantite * ligne.prixVente }}</td>
			    {% set totalht = totalht + (ligne.quantite * ligne.prixVente )%}
			   <td>TVA</td>
			   <td>{{ligne.quantite * ligne.prixVente *1.2 }}</td>
			   
            </tr>
			
		  {% endfor %}
           
           
            <tr>
              <th colspan="4" class="total text-right">Total</th>
			  <td>{{totalht}}</td>
			   <td>TVA</td>
              <td>{{commande.totalCommande}}</td>
            </tr>
          </tbody>
        </table> #} 
      </div>
    </div>
	</div>

{% endblock %}
