
{% block title %}Bon de livraison{% endblock %}
{% block stylesheets %}

<style>
		/* Styles CSS pour ajouter des bordures sur des zones  */

		.brd {
			/* Votre style pour la colonne */
			border: 1px solid #000; /* Bordure de 1 pixel solide noire */
			padding: 10px; /* Espacement interne */
			margin: 10px;
		}
		.brd1 {
			float: left;
			border: 1px solid #000;
			width: 45%;
			padding: 10px;
			
		}
		.brd2 {
			float: left;
			border: 1px solid #000;
			margin-left: 20px;
			width: 45%;
			padding: 10px;

		}
		/*Afficher adresse de livraison et adresse de facturation*/
		 .adresse{
			;
		 }
		 /*Appliquer de css sur le tableau*/
		 .table{
			border-collapse: collapse; 
			width: 90%;
			
		 }
		 th, td{
			border: 1px solid #ddd;
			padding: 10px;
		 }
        .total{
			text-align: right;
		}

	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row ">
			<div class="col-4">
				<img src="" alt="">
			</div>
			<div class=" col-6  ">
				<p>Bon de livraison N°</p>
				<p>Commande N° {{livraison.getCommande().getId()}} du {{livraison.getCommande().getDateCommande()|date("d/m/Y")}}</p>
				<p>Date: {{livraison.dateLivraison |date("d/m/Y")}}
				</p>
			</div>
		</div>
		<div class="row ">
			<div class="brd col-6 ">1
				<p>Client : numéro, nom, addresse, contact</p>
			</div>

		</div>
		<div class="adresse">
			<div class="brd  ">
				<h4>Adresse de livraison</h4>
				<p>{{livraison.getCommande().getAdresseLivraison()}}</p>
				<p>{{livraison.getCommande().CPLivraison()}}  {{livraison.getCommande().villeLivraison()}}</p>	

		</div>
		 <div class="row mt-4">
      <div class="col-md-12">
	  <h4>Détails de la livraison </h4>
         <table class="table table-active">
          <thead>
            <tr>
              <th>RÉF</th>
              <th>DÉSIGNATION</th>
              <th>QUANTITÉ</th>
            </tr>
          </thead>
          <tbody>
		 
		  {% for ligneLivraison in ligneslignesLivraisons %}
		   <tr>
		    {# Récupérer la référence du produit  #}
               <td>{{ligneLivraison.getProduit().getReference()}}</td>
              <td>{{ligneLivraison.libelle}}</td>
              <td>{{ligneLivraison.quantiteLivree}}</td>
			   
            </tr>
			
		  {% endfor %}
           
           
          
          </tbody>
        </table> 
      </div>
    </div>
	</div>

{% endblock %}
