<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Village Green
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

		{% block stylesheets %}
		{% endblock %}

		
	</head>
	<body>
		{#la navbar #}
		<nav class="navbar navbar-expand-lg bg-danger-subtle fixedd-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{asset('assets/images/logo.png')}}" class="img-responsive" id="logo" alt="logo" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarColor04">
            {# <form class="d-flex mx-auto position-relative " role="search">
                <input class="form-control  me-2" type="search" placeholder="Chercher" aria-label="Search">
				<a href="{{path('cherche')}}"><img src="{{asset('assets/images/chercher.png')}}" class="image-fluide position-absolute  end-0 m-2 " alt="recherche"></a>
            </form> #}
			{# {% include 'catalogue/cherche.html.twig' %}  #}
			{{ render(controller("App\\Controller\\CatalogueController::chercheProduit")) }} 
		 
			
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('accueil')}}">Accueil</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{path('accueil')}}">Catalogue</a>
                </li>
				<li class="nav-item mx-2">
                    <a class="nav-link" href="{{path('accueil')}}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin')}}">Administration</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Statistique</a>
                </li>
            </ul>
			<div class="nav-item m-2">
                <a class="nav-link" href="{{ path('connexion') }}">
                    <img src="{{ asset('assets/images/utilisateur.png') }}" width="30" height="30" alt="Compte">
                    <span class="d-block">Compte</span>
                </a>
            </div>
            <div class="nav-item mx-3">
                <a class="nav-link" href="{{ path('panier') }}">
                    <img src="{{ asset('assets/images/panier.png') }}" width="30" height="30" alt="Panier">
                    <span class="d-block">Panier</span>
                </a>
            </div>
         
        </div>
		   
    </div>
</nav>

<style>
    .form-control {
        width: 400px; /* Modifier la largeur de la barre de recherche */
    }
</style>


		{% block body %}{% endblock %}

		<footer class="mt-5">
			<div class="container ">
				<div class="footer-content row mt-3">
					<div class="col-md-4 m-3">
						<h2>A propos de nous</h2>
						<p>Au cœur d'Amiens, notre magasin VILLAGE GREEN propose des solutions de mobilier de qualité pour les professionnels et les particuliers. Fondée par [Nom du fondateur] avec une passion pour le design et l'artisanat.</p>
						<div class="contact">
							<span>
								<i class="fa fa-phone"></i>
								09 72 72 39 36</span>
							<span class="mx-2">
								<i class="far fa-envelope "></i>
								htedistrict@gmail.com</span>
						</div>

					</div>
					<div class="footer-section links col-md-3 my-3 mx-3">
						<h2>Moyens de paiement</h2>

						<div class="payment-images mt-4">
							<img src="{{ asset('assets/images/sans-contact.png') }}" alt="cb">
							<img src="{{ asset('assets/images/visa.png') }}" alt="visa">
							<img src="{{ asset('assets/images/logo-mastercard.jpg') }}" alt="MasterCard">
							<img src="{{ asset('assets/images/logo-paypal.jpg') }}" alt="payPal">
							<img src="{{ asset('assets/images/logo-paylib.jpg') }}" alt="payLib">

						</div>

					</div>
					<div class="footer-section social col-md-3 my-3">
						<h2>Contactez-nous!</h2>
						<ul>
							<li><a href="">Nous contacter</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-content row border-top">
					<div class="col-md-4 mt-4">
						<h2>L'entreprise</h2>

						<ul>
							<li><ahref="{{path('mentionsL')}}">Mentions Légales</a></li>
							<li><ahref="{{path('politique')}}">Politique de confidentialité</a></li>

						</ul>
					</div>
					<div class="footer-section links col-md-3 mx-3 mt-4">
						<h2>Suivez nous!</h2>
						<p>Restez connecté avec nous sur les réseaux sociaux pour les dernières mises à jour et promotions.</p>
						<div class="payment-images my-4">
							<img src="{{ asset('assets/images/facebook.png') }}" class="survol" alt="facebook">
							<img src="{{ asset('assets/images/instagram.png') }}" class="survol" alt="visinstagram">
							<img src="{{ asset('assets/images/twitter.png') }}" class="survol" alt="twitter">
							<img src="{{ asset('assets/images/whatsapp.png') }}" class="survol" alt="whatsapp">
							<img src="{{ asset('assets/images/snapchat.png') }}" class="survol" alt="snapchat">

						</div>
					</div>
					<div class="footer-section social col-md-3 mt-4">
						<h2>Liens Rapide</h2>
						<ul>
							<li><ahref="{{path("accueil")}}">Accueil</a></li>
							<li><a href="">Catégories</a></li>
							<li><a href="">panier</a></li>
							<li><a href="">Mon compte</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		{% block javascripts %}
		
		{% endblock %}
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	</body>
</html>

