{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}

 <div class="container  mt-5">
  <h1 class="text-center text-primary my-4"> Détail du Produit </h1>
        <div class="row justify-content-center mt-4 ">
 
    

             <div class="col-md-4 mx-3">
                    <img src="{{ asset('assets/images/' ~ produit.getCategorie().getParent().getNomCategorie()   ~ '/' ~ produit.getCategorie().getNomCategorie() ~ '/' ~ produit.getPhoto()) }}" class="card-img-top mt-4" alt="{{ produit.getLibelle() }}">
                    </div>
                    <div class="col-md-5 mx-3">
                    <h2 class="text">{{ produit.libelle }}</h2>
                    {# afficher les prix en appliquant les le coefficient de vente pour les particuliers #}
                    <h4 class="prix py-3">{{ produit.prixAchat * 1.6  }} €</h4>
                    <h5 class="text-primary mt-3">Description :</h5>
                    <p>{{ produit.description }}</p>
                    <a class="btn btn-primary btn-lg mt-4" href="{{ path('ajoutPanier', {'id': produit.id}) }}">
                        Ajouter au panier<br>
                    </a>
                    {# <a href="{{path('accueil')}}" class="btn btn-lg btn-primary my-5 ">Continuer les achats </a> #}
                    
                   </div>
                    
                     
                  
   
       
    </div>
    </div>
{% endblock %}