{% extends 'base.html.twig' %}

{% block title %}Sous Catégories{% endblock %}

{% block body %}
<div class="container text-center my-5">
    <h1 class="text-center text-primary">{{ categorie.nomCategorie }}</h1>
    <div class="row justify-content-center">
        {% for sousCategorie in categorie.categories %}
            <div class="col-3 col-md-2 my-4 survol">
                <a href="" class="sousCategory" data-id="{{ sousCategorie.id }}">
                    <img class="img-thumbnail rounded-circle" src="{{ asset('assets/images/' ~ sousCategorie.getParent().getNomCategorie()  ~ '/' ~ sousCategorie.photo) }}" style="height: 200px;">
                </a>
                <h3 class="nomCategorie my-2">{{ sousCategorie.nomCategorie }}</h3>
            </div>
        {% endfor %}
    </div>
    <div id="listeProduit">
    
        <p>liste de produit</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
//script pour afficher les produits des sous catégories
//attendre le chargement de fichier
$(document).ready(function () {
    //cliquer automatiquement sur la première sous catégorie
    $('.sousCategory').first().click(function (e) { 
        //charger la page juste une fois
        e.preventDefault();
        //récupérer l'id de la sous catégorie cliquée
        var sousCategorieId = $(this).data('id');
        /*requete ajax pour récupérer la liste des produits de la sous catégorie
        et les insérer dans la div*/
        $.ajax({
            //j'ai utiliser la fonction replace() pour remplacer la variable de twig avec celle de js
            url: '{{ path('produits', { id: 'sousCategorieId'|default(2) }) }}'.replace('sousCategorieId', sousCategorieId),
            type: 'GET',
            data: { id: sousCategorieId },
            success: function(response) {
                $('#listeProduit').html(response);
            },
          
        });
    });
});
</script>
{% endblock %}
